{# add a custom link to the help menu -#}
{# raw so that ansible doesn't render -#}
{% raw -%}
{% extends "templates/notebook.html" %}
{% block help %}
{{ super() }}
<li title="Support"><a target="_blank" href="http://intro.syzygy.ca/troubleshooting/">Support (external)</a></li>
{% endblock %}
{% endraw -%}

{% raw -%}
{% block header %}
{% endraw -%}
{# add an alert -#}
{% if jupyterhub_alert != "" -%}
<div id="header-announcements" class="container">
<span id="messages"><div class="alert alert-danger">{{ jupyterhub_alert }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div></span>
</div>
{% endif -%}
{% if jupyterhub_announcement != "" -%}
<div id="header-announcements" class="container">
<span id="messages"><div class="alert alert-info">{{ jupyterhub_announcement }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div></span>
</div>
{% endif %}
{% raw -%}
{{ super() }}
{% endblock header %}
{% endraw -%}
