- labels:
    type: 'node'
    group: 'stats'
    host: '{{ inventory_hostname }}'
    '__metrics_path__': '/metrics/node/metrics'
    '__scheme__': 'https'
  targets: ['{{ inventory_hostname }}:443']
