**/*.terraform
**/*.gpg
**/*.ianabc
**/*.tfstate
**/*.tfstate.backup
**/*.retry
**/*.swp
**/.hostfiles
**/openrc.sh
**/clouds.yaml
keys/id_rsa*
ansible/roles/external
ansible/group_vars/*/local_vars.yml
ansible/inventory
