**/*.terraform
**/*.gpg
**/*.ianabc
**/*.tfstate
**/*.tfstate.backup
**/.terraform.tfstate.lock.info
**/*.retry
**/*.swp
**/.hostfiles
**/openrc.sh
**/clouds.yaml
ansible/group_vars/*/local_vars.yml
ansible/group_vars/hub-iana
ansible/inventory
ansible/roles/edx/configuration
ansible/roles/external
ansible/roles/internal/callysto-edx/files/iblx-themes.tar.gz
ansible/roles/internal/callysto-edx/files/ibl_python_pkgs.tar.gz
keys/id_rsa*
letsencrypt/*/accounts
letsencrypt/*/certs
letsencrypt/*/chains
terraform/hub-iana
tutor/**
