---
- name: Unmount ephemeral if mounted
  mount:
    src: '{{ openstack_ephemeral_docker_partition }}'
    path: '/mnt'
    state: absent
  notify:
    - Unmount ephemeral

- name: Partition OpenStack Ephemeral Storage
  parted:
    device: '{{ openstack_ephemeral_docker_disk }}'
    number: '{{ openstack_ephemeral_docker_partition }}'
    align: '{{ openstack_ephemeral_docker_align }}'
    part_start: '{{ openstack_ephemeral_docker_start }}'
    part_end: '{{ openstack_ephemeral_docker_end }}'
    part_type: '{{ openstack_ephemeral_part_type }}'
    state: present

- name: Create an XFS filesystem on the storage
  filesystem:
    fstype: xfs
    dev: '{{ openstack_ephemeral_docker_disk }}{{ openstack_ephemeral_docker_partition}}'

- name: Mount the ephemeral for docker
  mount:
    src: '{{ openstack_ephemeral_docker_disk}}{{ openstack_ephemeral_docker_partition }}'
    path: '/var/lib/docker'
    fstype: 'xfs'
    state: 'mounted'
