<?php

$config = array(
    'admin' => array(
        // The default is to use core:AdminPassword, but it can be replaced with
        // any authentication source.

        'core:AdminPassword',
    ),
    'default-sp' => array(
        'saml:SP',
        'entityID' => null,
        'idp' => null,
        'signature.algorithm' => 'http://www.w3.org/2001/04/xmldsig-more#rsa-sha256',
    ),
{% if ssp_develop %}
'mock-idp' => array(
    'exampleauth:UserPass',
    'user1:password' => array(
        'eduPersonTargetedID' => array('lw90qgjwcywcdg0dh3xpykvn0a2wctetlhp5eznmu'),
    ),
    'user2:password' => array(
        'eduPersonPrincipalName' => array('user2@example.ca'),
    ),
),
{% endif %}
{% for s in ssp_idp_multi_sources %}
  {% if s.type == 'google' %}
    '{{ s.display_name | lower | replace(' ','') }}' => array(
            'authoauth2:OAuth2',
            'urlAuthorize' => 'https://accounts.google.com/o/oauth2/auth',
            'urlAccessToken' => 'https://accounts.google.com/o/oauth2/token',
            'urlResourceOwnerDetails' => 'https://www.googleapis.com/plus/v1/people/me/openIdConnect',
            //'urlResourceOwnerDetails' => 'https://www.googleapis.com/plus/v1/people/me?fields=id,name',
            'clientId' => '{{ s.client_id }}',
            'clientSecret' => '{{ s.client_secret }}',
            'scopes' =>  array(
                'email'
            ),
            'scopeSeparator' => ' ',
        ),
  {% endif %}

  {% if s.type == 'microsoft' %}
    '{{ s.display_name | lower | replace(' ','') }}' => array(
        'authwindowslive:LiveID',
        'key' => '{{ s.client_id }}',
        'secret' => '{{ s.client_secret }}',
    ),
  {% endif %}

{% endfor %}

'multi-idp-source' => array(
    'multiauth:MultiAuth',

    'sources' => array(
        'default-sp' => array(
            'text' => array(
                'en' => 'Login with Institution account',
                'fr' => 'Login with Institution account',
            ),
            'css-class' => 'SAML',
        ),
{% if ssp_develop %}
        'mock-idp' => array(
            'text' => array(
                'en' => 'Login with mock account',
                'fr' => 'Login with mock account',
                )
            ),
{% endif %}
{% for s in ssp_idp_multi_sources %}
    {% if s.type != 'saml' %}
        '{{ s.display_name | lower | replace(' ','') }}' => array(
            'text' => array(
                'en' => 'Login with {{ s.display_name }} account',
                'fr' => 'Login with {{ s.display_name }} account',
            ),
            'css-class' => 'SAML',
        ),
    {% endif %}
{% endfor %}
    ),
),
);
