<?php
/*
 * Configuration for the Cron module.
 */

$config = array (

        'key' => '{{ ssp_refresh_key }}',
        'allowed_tags' => array('daily', 'hourly', 'frequent'),
        'debug_message' => FALSE,
        'sendemail' => FALSE,

);
