#!/usr/bin/php
<?php

require_once('/var/simplesamlphp-{{ ssp_ver }}/www/_include.php');

function generateHash($userID) {
  {% set metadata_url = "https://" ~ inventory_hostname ~ "/simplesaml/saml2/idp/metadata.php" %}
  {% set shib_url = "https://hub." ~ lookup('env', ENVIRONMENT + '_CALLYSTO_DOMAINNAME') ~ "/shibboleth" %}

  $srcID = 'set17:saml20-idp-hostedset{{ metadata_url | length }}:{{ metadata_url }}';
  $dstID = 'set16:saml20-sp-remoteset{{ shib_url | length }}:{{ shib_url }}';

  $secretSalt = \SimpleSAML\Utils\Config::getSecretSalt();
  $uidData = 'uidhashbase'.$secretSalt;
  $uidData .= strlen($srcID).':'.$srcID;
  $uidData .= strlen($dstID).':'.$dstID;
  $uidData .= strlen($userID).':'.$userID;
  $uidData .= $secretSalt;

  $uid = hash('sha1', $uidData);

  return $uid;
}

$email = $argv[1];

// First try with just the email address.
$hash = generateHash($email);
echo "$hash\n";
