[Unit]
Description=JupyterHub Sharder

[Service]
ExecStart=/bin/python3.6 /srv/sharder/sharder/daemon.py --config-file /srv/sharder/sharder.yml
Restart=on-failure

[Install]
WantedBy=ulti-user.target
