ACTIVATE_CMS: true
ACTIVATE_ELASTICSEARCH: true
ACTIVATE_FORUM: true
ACTIVATE_HTTPS: true
ACTIVATE_LMS: true
ACTIVATE_MEMCACHED: true
ACTIVATE_MONGODB: true
ACTIVATE_MYSQL: true
ACTIVATE_RABBITMQ: true
ACTIVATE_SMTP: true
ANDROID_OAUTH2_SECRET: "{{ edx_android_oauth2_secret }}"
CMS_HOST: "{{ cms_name | default('courses.edx-dev.callysto.farm') }}"
CONTACT_EMAIL: "{{ support_email }}"
DOCKER_IMAGE_ANDROID: "overhangio/openedx-android:3.7.4"
DOCKER_IMAGE_ELASTICSEARCH: "elasticsearch:1.5.2"
DOCKER_IMAGE_FORUM: "overhangio/openedx-forum:3.7.4"
DOCKER_IMAGE_MEMCACHED: "memcached:1.4.38"
DOCKER_IMAGE_MONGODB: "mongo:3.2.16"
DOCKER_IMAGE_MYSQL: "mysql:5.6.36"
DOCKER_IMAGE_NGINX: "nginx:1.13"
DOCKER_IMAGE_OPENEDX_DEV: "overhangio/openedx-dev:3.7.4"
DOCKER_IMAGE_OPENEDX: "{{ edx_docker_image }}:{{ edx_docker_image_tag}}"
DOCKER_IMAGE_RABBITMQ: "rabbitmq:3.6.10"
DOCKER_IMAGE_SMTP: "namshi/smtp:latest"
DOCKER_REGISTRY: ""
ELASTICSEARCH_HOST: "elasticsearch"
ELASTICSEARCH_PORT: 9200
FORUM_HOST: "forum"
ID: "{{ edx_id }}"
LANGUAGE_CODE: "en"
LMS_HOST: "{{ lms_name | default('lms.edx-dev.callysto.farm') }}"
LOCAL_PROJECT_NAME: "{{ edx_name | default('edx-dev.callysto.farm') }}"
MEMCACHED_HOST: "memcached"
MEMCACHED_PORT: 11211
MONGODB_DATABASE: "openedx"
MONGODB_HOST: "mongodb"
MONGODB_PASSWORD: ""
MONGODB_PORT: 27017
MONGODB_USERNAME: ""
MYSQL_HOST: "mysql"
MYSQL_PORT: 3306
MYSQL_ROOT_PASSWORD: "{{ edx_mysql_root_password }}"
NGINX_HTTP_PORT: 80
NGINX_HTTPS_PORT: 443
OPENEDX_AWS_ACCESS_KEY: ""
OPENEDX_AWS_SECRET_ACCESS_KEY: ""
OPENEDX_CMS_GUNICORN_WORKERS: 2
OPENEDX_LMS_GUNICORN_WORKERS: 2
OPENEDX_MYSQL_DATABASE: "openedx"
OPENEDX_MYSQL_PASSWORD: "{{ edx_mysql_edx_password }}"
OPENEDX_MYSQL_USERNAME: "openedx"
OPENEDX_SECRET_KEY: "{{ edx_secret_key }}"
PLATFORM_NAME: "My Open edX"
PLUGINS: []
RABBITMQ_HOST: "rabbitmq"
RABBITMQ_PASSWORD: ""
RABBITMQ_USERNAME: ""
SMTP_HOST: "smtp"
SMTP_PASSWORD: ""
SMTP_PORT: 25
SMTP_USERNAME: ""
SMTP_USE_SSL: false
SMTP_USE_TLS: false
WEB_PROXY: false
