# Unset REMOTE_USER header (for security)
RequestHeader unset REMOTE_USER

<VirtualHost *:80>
  ServerName {{ inventory_hostname }}
  ErrorLog /var/log/httpd/jupyter-error.log
  LogLevel warn
  CustomLog /var/log/httpd/jupyter-access.log combined

  Redirect permanent / https://{{ inventory_hostname }}/
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ inventory_hostname }}
  ServerAdmin {{ admin_email }}

  SSLEngine on
  SSLCertificateFile /etc/pki/tls/certs/cert.pem
  SSLCertificateChainFile /etc/pki/tls/certs/chain.pem
  SSLCertificateKeyFile /etc/pki/tls/private/privkey.pem

  SSLProxyEngine On
  SSLProxyVerify none
  SSLProxyCheckPeerCN off
  SSLProxyCheckPeerName off
  SSLProxyCheckPeerExpire off

  Header always set Strict-Transport-Security "max-age=15768000"

  {% if sharder_use_shibboleth == True %}
  LoadModule mod_shib /usr/lib64/shibboleth/mod_shib_24.so
  ProxyPass /Shibboleth.sso !

  <Location /shibboleth-sp>
    Require all granted
  </Location>
  Alias /shibboleth-sp/main.css /usr/share/shibboleth/main.css

  <Location /Shibboleth.sso>
    SetHandler shib
  </Location>
  {% endif %}

  <Directory "/var/www/html/site">
    Order allow,deny
    Allow from all
  </Directory>

  <Location /jupyter/hub>
  {% if sharder_use_shibboleth == True %}
    AuthType shibboleth
    Require shibboleth
    ShibRequestSetting requireSession true
    ShibUseHeaders off
    RequestHeader set REMOTE_USER %{REMOTE_USER}s
  {% endif %}

    ProxyPass http://127.0.0.1:8888/shard
    ProxyPassReverse http://127.0.0.1:8888/shard
    ProxyPreserveHost on
  </Location>

  ErrorLog /var/log/httpd/sharder-ssl-error.log
  LogLevel warn
  CustomLog /var/log/httpd/sharder-ssl-access.log combined
</VirtualHost>

SSLProtocol             all -SSLv2 -SSLv3 -TLSv1 -TLSv1.1
SSLCipherSuite          EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
SSLHonorCipherOrder     on
SSLCompression          off

# OCSP Stapling, only in httpd 2.3.3 and later
SSLUseStapling          on
SSLStaplingResponderTimeout 5
SSLStaplingReturnResponderErrors off
SSLStaplingCache        shmcb:/var/run/ocsp(128000)
