[Unit]
Description=JupyterHub Sharder

[Service]
ExecStart={{ python3_python_executable }} {{ sharder_app_dir }}/sharder/daemon.py --config-file {{ sharder_app_dir }}/sharder.yml
Restart=on-failure

[Install]
WantedBy=multi-user.target
