<SPConfig xmlns="urn:mace:shibboleth:2.0:native:sp:config"
    xmlns:conf="urn:mace:shibboleth:2.0:native:sp:config"
    xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion"
    xmlns:samlp="urn:oasis:names:tc:SAML:2.0:protocol"
    xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"
    clockSkew="180">


    <ApplicationDefaults entityID="https://{{ inventory_hostname }}/shibboleth"
                         {% if ssp_hash_usernames -%}
                         REMOTE_USER="persistent-id targeted-id" signing="true" encryption="true"
                         {% else -%}
                         REMOTE_USER="smart-id persistent-id" signing="true" encryption="true"
                         {% endif -%}
                         signingAlg="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256">

        <Sessions lifetime="28800" timeout="{{ shib_session_timeout }}" relayState="ss:mem"
                  checkAddress="false" handlerSSL="true" cookieProps="http">

            <SSO entityID="https://{{ ssp_domain }}/simplesaml/saml2/idp/metadata.php">SAML2</SSO>

            <Logout>SAML2 Local</Logout>

            <Handler type="MetadataGenerator" Location="/Metadata" signing="false"/>
            <Handler type="Status" Location="/Status" />
            <Handler type="Session" Location="/Session" showAttributeValues="true"/>
            <Handler type="DiscoveryFeed" Location="/DiscoFeed"/>
        </Sessions>

        <Errors supportContact="root@localhost"
            helpLocation="/about.html"
            styleSheet="/shibboleth-sp/main.css"/>

        <MetadataProvider type="XML"
              uri="https://{{ ssp_domain }}/simplesaml/saml2/idp/metadata.php"
              backingFilePath="federation-metadata.xml" reloadInterval="3600">
<!--            <MetadataFilter type="RequireValidUntil" maxValidityInterval="2419200"/> -->
        </MetadataProvider>

        <AttributeExtractor type="XML" validate="true" reloadChanges="false" path="attribute-map.xml"/>
        <AttributeResolver type="Query" subjectMatch="true"/>
        <AttributeFilter type="XML" validate="true" path="attribute-policy.xml"/>
        <CredentialResolver type="File" key="sp-signing-key.pem" certificate="sp-signing-cert.pem"/>
    </ApplicationDefaults>

    <!-- Policies that determine how to process and authenticate runtime messages. -->
    <SecurityPolicyProvider type="XML" validate="true" path="security-policy.xml"/>

    <!-- Low-level configuration about protocols and bindings available for use. -->
    <ProtocolProvider type="XML" validate="true" reloadChanges="false" path="protocols.xml"/>

</SPConfig>
