# This needs to be either dynamic (somehow) or assembled from fragments
# defined by each new host
scrape_configs:
  - job_name: 'prometheus'
    metrics_path: '/prometheus/metrics'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-{{ ansible_nodename }}'
    static_configs:
      - targets: ['localhost:9100']

  - job_name: '{{ domain }}'
    file_sd_configs:
      - files:
        - tgroups/*.yml

  - job_name: 'cadvisor-{{ ansible_nodename }}'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:8080']
