# ENVIRONMENT defines if this is a development (DEV) or production (PROD)
# environment.
ENVIRONMENT: DEV

# Add any extra SSH keys here.
# These will be merged with the ones defined in group_vars/all/local_vars.yml
#ssh_public_keys:
#  username:
#    user: ptty2u
#    state: present
#    public_key: 'ssh-rsa ...'

admin_email: "{{ lookup('env','ADMIN_EMAIL') | default('user@example.com', true) }}"
support_email: "{{ lookup('env','SUPPORT_EMAIL') | default('support@example.com', true) }}"

# All hubs have a ZFS mirror.
# Specify their drive letters here.
# The "d854b345-1600-478a-9" part is a portion of the volumes' UUID.
# NOTE: This is done automatically by Terraform now. You do not need to set
# this unless there's a special situation.
#zfs_disk_1: /dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_d854b345-1600-478a-9
#zfs_disk_2: /dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_d854b345-1600-478a-9

# Uncomment this to use overlay2
openstack_ephemeral_docker_disk: /dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_{{ docker_storage[0:20] | default('drive-scsi0-0-0-1', true) }}
# Uncomment this to use ZFS
#docker_zfs_pool: "/tank"

# SSL settings
callysto_ssl_cert_dir: "{{ lookup('env', ENVIRONMENT + '_CALLYSTO_SSL_CERT_DIRECTORY') | default('', true) }}"

# Enable hub metrics
hub_metrics: true

# Required for the callyst-html task
callysto_html_longname: Callysto Dev

# URL to a notebook which will be added to each home directory.
jupyterhub_getting_started_url: 'https://raw.githubusercontent.com/callysto/getting-started/master/getting-started.ipynb'

# valid values:
#   * google: current prod configuration
#   * dummy: username: anything, no password
#   * dummypw: username: anything, password via jupyterhub_authenticator_dummy_password
#   * shib: log in through ssp/shib
#   * pam: authenticate against system users
#
jupyterhub_authenticator: dummy

# uncomment this to specify a return URL when the user logs out.
# only when "shib" authenticator is used.
#jupyterhub_shib_return_url: "https://{{ ssp_domain }}/simplesaml/logout.php"

# uncomment this when using the dummypw authenticator
#jupyterhub_authenticator_dummy_password: callysto

# valid values:
#
#   * dockerspawner: current prod configuration
#   * syzygyswiftspawner: openstack swift storage backend
#
jupyterhub_spawner: dockerspawner

# The docker image to use for notebooks
# If using swift, change this to callysto-swift
jupyterhub_docker_image: 'docker.io/callysto/pims-r'
jupyterhub_docker_container: 'docker.io/callysto/pims-r:latest'

# Set an announcement on the user's control panel
#jupyterhub_announcement: 'Some Text'
#jupyterhub_alert: 'Some Emergency Text'

# Set these to use a persistent token/cookie between the hub and proxy
#jupyterhub_auth_token: ""
#jupyterhub_cookie_secret_file: ""

# Add the email addresses or hashes of addresses for admin users
jupyterhub_admin_users:
  - fd1f75f968e4781519f03bfc90a7204be8d27592

# Set jupyterhub version
jupyterhub_version: 1.0

# JupyterHub Sharder configuration
sharder_use_shibboleth: True
sharder_config:
  db_type: sqlite
  db_file: /srv/sharder/sharder.db
  hubs: "{{ groups['hub'] }}"
  sharder_listen: 127.0.0.1
  domain: syzygy.farm

# Set to True to disable updating package versions automatically
disable_package_update: False

# SimpleSAMLphp settings
ssp_domain: "{{ groups['ssp'][0] }}"

# uncomment this to run simplesamlphp in develop mode (uses hard-coded test users)
#ssp_develop: True

# SimpleSAMLphp Theme
# by default, the `default` theme will be used.
# uncomment below to use the callysto theme
#ssp_theme_name: 'callysto:callysto'
#ssp_theme_repo: 'https://github.com/callysto/callysto-ssp-theme'
#ssp_theme_version: 'master'
#ssp_theme_dir: "{{ ssp_dir }}/modules/callysto"

ssp_idp_multi_sources:
  - type: google
    display_name: Google
    client_id: 1234567890.apps.googleusercontent.com
    client_secret: supersecurepassword
  - type: microsoft
    display_name: Microsoft
    client_id: 123456790-1234-123456789
    client_secret: supersecurepassword
  - type: saml
    display_name: SAML Federation
    metadata_url: https://metadata.example.com/Shibboleth.sso/Metadata

# Generate a new salt and admin password with: "< /dev/urandom tr -dc _A-Z-a-z-0-9 | head -c"${1:-32}";echo;"
#ssp_idp_multi_salt:
#ssp_idp_multi_admin_password:
#ssp_refresh_key:

# Convert usernames to an anonymous hash
ssp_hash_usernames: True

# Generate a new key-pair with
# openssl req -new -x509 -days 3650 -nodes -sha256 -out saml.crt -keyout saml.pem -subj "/C=CA/ST=Alberta/L=Calgary/O=Callysto Dev/OU=Infra/CN=hub-dev.callysto.farm"
ssp_idp_multi_saml_cert:
ssp_idp_multi_saml_key:

# Stats http basic authentication
stats_username: stats
stats_password: stats

# Grafana authentication
grafana_admin_password: password

# edX
edx_docker_image: "callysto/openedx"
edx_docker_image_tag: "edx-prod"
edx_mysql_root_password: password
edx_mysql_edx_password: password
edx_secret_key: a_long_string_of_characters
edx_android_oauth2_secret: another_long_string_of_characters
edx_id: yet_another_string_of_characters
edx_tutor_root: /tank/tutor
edx_tutor_version: "3.11.2"
edx_enable_backups: false

# OpenStack auth information
# Fill this in when using the syzygyswiftspawner spawner
# or for anything backing up data to swift
#openstack_openrc_path: /root/openrc
#openstack_auth_url: "https://example.com:5000/v3"
#openstack_username: "username"
#openstack_password: "password"
#openstack_project_name: "project"
#openstack_project_domain_id: "default"
#openstack_user_domain_name: "Default"
#openstack_region_name: "RegionOne"

# rrsync
#rrsync_enable: true
#rrsync_local_user: root
#rrsync_source_directory: /tank/home/
#rrsync_remote_user: root
#rrsync_remote_host: foobar
#rrsync_private_key: 'some private key'
#rrsync_private_key_path: /root/.ssh/some_key
#rrsync_public_key: 'some public key'
#rrsync_public_key_path: /root/.ssh/some_key.pub

# Infrastructure / Clavius backup
#backup_base_directory: "~/work/callysto-infra"
#backup_dest_directory: "~/work/backup"
#backup_files:
#  - "local_vars.yml"
#  - "*.tfstate"
#  - "id_rsa*"
#  - "letsencrypt"
