dockerhub_username: "USERNAME"
dockerhub_password: "PASSWORD"
dockerhub_email: "EMAIL"

zfs_disk_1: /dev/sdb
zfs_disk_2: /dev/sdc
openstack_ephemeral_docker_disk: /dev/sdd

domain: subdomain.example.com

jupyterhub_oauth_client_id: 12345
jupyterhub_oauth_client_secret: SUPERSECRET
jupyterhub_oauth_callback_url: https://callback.example.com

# Set to True if wanting to speed up initialization
disable_update: False

# Set to False to get a production-ready certificate
dehydrate_test_cert: True

ssp_idp_multi_sources:
  - type: google
    display_name: Google
    client_id: 1234567890.apps.googleusercontent.com
    client_secret: supersecurepassword
  - type: microsoft
    display_name: Microsoft
    client_id: 123456790-1234-123456789
    client_secret: supersecurepassword
  - type: saml
    display_name: SAML Federation
    metadata_url: https://metadata.example.com/Shibboleth.sso/Metadata

# Generate a new salt and admin password with: "< /dev/urandom tr -dc _A-Z-a-z-0-9 | head -c"${1:-32}";echo;"
ssp_idp_multi_salt: defaultsecretsalt
ssp_idp_multi_admin_password: 123
ssp_refresh_key: 1234567

# Generate a new key-pair with `openssl req -new -x509 -days 365 -nodes -sha256 -out saml.crt -keyout saml.pem`
ssp_idp_multi_saml_cert: |
	-----BEGIN CERTIFICATE-----
	MIIDXTCCAkWgAwIBAgIJAM7OPzrFix+TMA0GCSqGSIb3DQEBCwUAMEUxCzAJBgNV
	BAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBX
	aWRnaXRzIFB0eSBMdGQwHhcNMTgwNTAxMjA1MDMwWhcNMTkwNTAxMjA1MDMwWjBF
	MQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50
	ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
	CgKCAQEA4mk57ZtOk5RDU4OdeKWXGJGEIqZlyyN3yjkHyOTRpSI/3y8DEje3cgwA
	NhkejxbMU8ULKFwjYVSwAGX3Xp5v34uHq9th3K7827R1SVTOilw56+y1t25cNWnp
	DEy7N1pE3rHIa3TVlRygf/W+IALflt033F2zMvudeV2yDuqViKP5u014G3qaOyed
	5oEQFITBVURDelsXZLQWkCAhlqPbjg+iC9rGCub0d0nQAaCdSk6xcG5zknGofM7G
	WOXyfGS2Sk4wkwTWd4myyA/T4iLYllSTz7j0hNTTRBqLl1GtxkzE1GBPF4JRej4D
	PmJGlus6Vo24EYGXrkYQ35DEaDX2ewIDAQABo1AwTjAdBgNVHQ4EFgQUMCSGWZfC
	BzFSr29PaI6ri3B8QJcwHwYDVR0jBBgwFoAUMCSGWZfCBzFSr29PaI6ri3B8QJcw
	DAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAFgBeva5A+FaIovpo1DmA
	iYU6M67irjPzzqAHOiw3o6Ahla4FrWsT31NfSdPTQGUtdPxmpk8yzlXK2mm5J5Zr
	TFU8i2Lykp6Vkwv1fIVE/5Bo4hroGq2yfEF1tryYtu33df0QMtjMIxx2apREz9sb
	88d9AA5LpNQ1dPh6CWmLDZCPZRvrqIXkrPw/rAkYjuXmIlQmTMplie91H07ZiyDb
	+VsggOZP1wkocCVQB9pRhLTORobmBSAZTuWb/nMwpf+cUnPN0b/uyYWy6fdhebqS
	GrZpLwQteW2PjCLj8YzgWTKHNntVRofV1Afk74je9rticsNAUkaoEwQYa+9pW81c
	rg==
	-----END CERTIFICATE-----

ssp_idp_multi_saml_key: |
	-----BEGIN PRIVATE KEY-----
	MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDiaTntm06TlENT
	g514pZcYkYQipmXLI3fKOQfI5NGlIj/fLwMSN7dyDAA2GR6PFsxTxQsoXCNhVLAA
	Zfdenm/fi4er22HcrvzbtHVJVM6KXDnr7LW3blw1aekMTLs3WkTeschrdNWVHKB/
	9b4gAt+W3TfcXbMy+515XbIO6pWIo/m7TXgbepo7J53mgRAUhMFVREN6WxdktBaQ
	ICGWo9uOD6IL2sYK5vR3SdABoJ1KTrFwbnOScah8zsZY5fJ8ZLZKTjCTBNZ3ibLI
	D9PiItiWVJPPuPSE1NNEGouXUa3GTMTUYE8XglF6PgM+YkaW6zpWjbgRgZeuRhDf
	kMRoNfZ7AgMBAAECggEAGS2Ke5nhyxeZxRfF0zzW6KyF/TRz7XssPxjIfNa1WZ/N
	aoxX0xbPF6et/lYcx9zJLCelbf+RD6nTSLgOIj+MQVfK5pmm8FulUulmgZkkvs4y
	wsG4E4X6SxZUDEIcL7OiJQGwQALmHYbpclFpqzWml6hSJfdlji3c/TomKvJ7Xo5o
	CG9HyhdJgXxPlgkkP3AfA9Z8EgjaeK6krwR2zfJBiFm8SQ0Jfxjzt5Kfir/NRg/i
	zvWPtbhDCMJ+ZNc7XS/XWfJYl1MzEosRpy8r/RZo+Yqv9UbbGUCzxTq1Wj9A5oKh
	F+FHlWQ3OYy0KNYD1izYMHlOcJf9bJDCbcDPjUtqwQKBgQD6jqYXv87MOI5rFhpm
	mjOmT7NlpjUDF8bz6IrciwIk7b8WxtYipfx7lN2HVebK4ghQR/VLJr8gg5zgMJ1U
	DYsBXD2gkEc1s4Eg8A900S3d0g5XnPX6Yt4I77B0GSJsS56zE2XEwMkl9LYtYPAA
	S+Fd0W/X+/NIAmdnigbi1COwPQKBgQDnVEziIvCGm0Nz7QnZOqe2AAiUd4YGwhF6
	aXCIryRmulVwec0wmNEVG4a62mWEpILEHThKlrFhcG4QnPx1QBcWqJh7cDORY7Ze
	DwznxLgRh7qFQxoTs2TFEC61PxObMy3xWXvS4tBU6JbPNQuKtlxBNzlz1CLBChJn
	EWugc161FwKBgCYtij1gKqCPlZPXoFo18NzMlCdO9hDslJIhwtbsD32VBGLyFTre
	U+R4wHCYtDwByQaCkGvNEZ5gr4yxm6dtENs6NOG8Wj1ihrCAI7rHDNgZ47mR3yEx
	42c1LoviMI6TzzC2KfGa9otkCEZN2QQSi9qBySr95wn3482xCG+Tp4R5AoGBAOYf
	Q3h2P4X4cKqi9Hgn1GzGLcLb//U7G74FpBAlAvY6iQIh+NBORThVMLsyxWilavyD
	ANuaewyulp9qO+67+fvtbfrlzDbm1aVOHY12cZHmztMAxLEydZ1gEsb036E10Y9V
	cEuCnLLKyjOI1lmAPdgWgs3KC2Szi0kC2Gk+O8mzAoGBAMtirrR4cO9zoxgP/fxC
	Mi7v0eTF9G5X1U6YmeRp2QlqYqxBvkJSNPedZnrbUKoOOk3MrLBFl2RUin48jhzO
	nKXWcTYzEYEzvjfmBBV/FPqvCctPrGsWNKo0pbmzni528VmNasvzf+cU6BKBUUpw
	M4CpECfT9LkL6Zq+Mo7aZ1zP
	-----END PRIVATE KEY-----
