{# raw so that ansible doesn't render most of the error template -#}
{% raw -%}
{% extends "page.html" %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="text-center">
      {% block heading %}
      <h1>
      {% if failed %}
      Spawn failed
      {% else %}
      Server not running
      {% endif %}
      </h1>
      {% endblock %}
      {% block message %}
      <p>
        {% if failed %}
        The latest attempt to start your server {{ server_name }} has failed.
{% endraw %}
        If this failure persists, please contact <a href='mailto:"{{ support_email }}"'>{{ support_email }}</a> and include the following message:<br><br>
{% raw %}
        {% if failed_message %}
          {{ failed_message }}
        {% endif %}
        <br><br>
        <a href="https://callysto.ca/wp-content/uploads/2019/07/CallystoTermsofService-July2019.pdf">Callysto Terms of Service</a>.
      </p>
        {% else %}
        Your server {{ server_name }} is not running. Would you like to start it?
      </p>
        {% endif %}
      {% endblock %}
      {% if not failed %}
      {% block start_button %}
      <a id="start" role="button" class="btn btn-lg btn-primary" href="{{ spawn_url }}">
        {% if failed %}
        Relaunch
        {% else %}
        Launch
        {% endif %}
        Server {{ server_name }}
      </a>
      {% endblock %}
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
{% endraw %}
