# Unset REMOTE_USER header (for security)
RequestHeader unset REMOTE_USER
TraceEnable Off

<VirtualHost *:80>
  ServerName {{ inventory_hostname }}
  ErrorLog {{ apache_log_dir | default('/var/log/httpd')}}/jupyter-error.log
  LogLevel warn
  CustomLog {{ apache_log_dir | default('/var/log/httpd')}}/jupyter-access.log combined

  Redirect permanent / https://{{ inventory_hostname }}/
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ inventory_hostname }}
  ServerAdmin {{ admin_email }}

  Protocols h2 http/1.1

  SSLEngine on
  SSLCertificateFile /etc/pki/tls/certs/cert.pem
  SSLCertificateChainFile /etc/pki/tls/certs/chain.pem
  SSLCertificateKeyFile /etc/pki/tls/private/privkey.pem

  SSLProxyEngine On
  SSLProxyVerify none
  SSLProxyCheckPeerCN off
  SSLProxyCheckPeerName off
  SSLProxyCheckPeerExpire off

  Header always set Strict-Transport-Security "max-age=15768000"

  {% if jupyterhub_authenticator == 'shib' %}
  LoadModule mod_shib /usr/lib64/shibboleth/mod_shib_24.so
  ProxyPass /Shibboleth.sso !

  RewriteEngine On
  RewriteCond %{HTTP_COOKIE} !^.*hub={{ inventory_hostname }}.*$ [NC]
  # Everything else _except_ the hub metadata transfers
  RewriteCond %{REQUEST_URI} ^/jupyter/hub [NC]
  RewriteRule ^/jupyter/hub/(.*)$ https://{{ groups['sharder'][0] }}/jupyter/hub/$1 [R,NC,L]

  # Use RewriteEngine to handle WebSocket connection upgrades
  RewriteCond %{HTTP:Connection} Upgrade [NC]
  RewriteCond %{HTTP:Upgrade} websocket [NC]
  RewriteRule /(.*) ws://127.0.0.1:8000/$1 [P,L]

  <Location /shibboleth-sp>
    Require all granted
  </Location>
  Alias /shibboleth-sp/main.css /usr/share/shibboleth/main.css

  <Location /Shibboleth.sso>
    SetHandler shib
  </Location>
  {% endif %}

  <Directory "/var/www/html/site">
    Require all granted
  </Directory>

  <Location /jupyter>
    ProxyPass http://{{ jupyterhub_proxy_ip }}:{{ jupyterhub_proxy_port }}/jupyter
    ProxyPassReverse http://{{ jupyterhub_proxy_ip }}:{{ jupyterhub_proxy_port }}/jupyter
    ProxyPreserveHost on
    RequestHeader set "X-Forwarded-Proto" expr=%{REQUEST_SCHEME}
  </Location>

  {% if jupyterhub_authenticator == 'shib' %}
  <Location /jupyter/hub>
    AuthType shibboleth
    Require shibboleth
    ShibRequestSetting requireSession true
    ShibUseHeaders off
    RequestHeader set REMOTE_USER %{REMOTE_USER}s
    RequestHeader set "X-Forwarded-Proto" expr=%{REQUEST_SCHEME}
  </Location>
  {% endif %}

  ErrorLog {{ apache_log_dir | default('/var/log/httpd')}}/jupyter-ssl-error.log
  LogLevel warn
  CustomLog {{ apache_log_dir | default('/var/log/httpd')}}/jupyter-ssl-access.log combined

</VirtualHost>

SSLProtocol             all -SSLv2 -SSLv3 -TLSv1 -TLSv1.1
SSLCipherSuite          EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
SSLHonorCipherOrder     on
SSLCompression          off

# OCSP Stapling, only in httpd 2.3.3 and later
SSLUseStapling          on
SSLStaplingResponderTimeout 5
SSLStaplingReturnResponderErrors off
SSLStaplingCache        shmcb:/var/run/ocsp(128000)
