[Unit]
Description=JupyterHub - Multi-user Jupyter notebook service.
After=network.target docker.service
Requires=docker.service
Wants=configurable-http-proxy

[Service]
EnvironmentFile=-/etc/sysconfig/jupyterhub
PIDFile=/srv/jupyterhub/jupyterhub.pid
WorkingDirectory=/srv/jupyterhub
ExecStart=/usr/local/bin/jupyterhub -f ${JUPYTERHUB}/jupyterhub_config.py --pid-file ${JUPYTERHUB}/jupyterhub.pid --upgrade-db
ExecStop=/bin/kill $MAINPID
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=multi-user.target
