ssp_develop: False
ssp_ver: 1.17.5
ssp_sha256: 1099b9ce5d7cee29abde2be39bb0044fd943d75016a5791638629e08c8adfff5
ssp_url: https://github.com/simplesamlphp/simplesamlphp/releases/download/v{{ ssp_ver  }}/simplesamlphp-{{ ssp_ver  }}.tar.gz

ssp_domain: "{{ inventory_hostname }}"
ssp_path: /var
ssp_prefix: simplesamlphp-
ssp_dir: "{{ ssp_path  }}/{{ ssp_prefix  }}{{ ssp_ver  }}"
ssp_tmp_dir: /tmp/ssp
ssp_www_user: apache
ssp_www_group: apache

ssp_cron_daily_cmd: "curl --silent -k 'https://localhost/simplesaml/module.php/cron/cron.php?key={{ ssp_refresh_key  }}&tag=daily' > /dev/null 2>&1"
ssp_cron_hourly_cmd: "curl --silent -k 'https://localhost/simplesaml/module.php/cron/cron.php?key={{ ssp_refresh_key  }}&tag=hourly' > /dev/null 2>&1"
#ssp_refresh_key: E1jvd1TbqSHL

ssp_theme_install: True

# False by default until install is done
ssp_installed_now: False

# ssp theme
ssp_theme_name: "default"
ssp_theme_repo: ""
ssp_theme_version: ""
ssp_theme_dir: ""

# hash the usernames
ssp_hash_usernames: True
