ssp_develop: False
ssp_ver: 1.16.2
ssp_sha256: 5be1b62b48cc322d65405b1897cfafdb5910c27177c220d248cee4c49f1cc195
ssp_url: https://github.com/simplesamlphp/simplesamlphp/releases/download/v{{ ssp_ver  }}/simplesamlphp-{{ ssp_ver  }}.tar.gz

ssp_domain: "{{ inventory_hostname }}"
ssp_path: /var
ssp_prefix: simplesamlphp-
ssp_dir: "{{ ssp_path  }}/{{ ssp_prefix  }}{{ ssp_ver  }}"
ssp_tmp_dir: /tmp/ssp
ssp_www_user: apache
ssp_www_group: apache

ssp_cron_daily_cmd: "curl --silent -k 'https://localhost/simplesaml/module.php/cron/cron.php?key={{ ssp_refresh_key  }}&tag=daily' > /dev/null 2>&1"
ssp_cron_hourly_cmd: "curl --silent -k 'https://localhost/simplesaml/module.php/cron/cron.php?key={{ ssp_refresh_key  }}&tag=hourly' > /dev/null 2>&1"
#ssp_refresh_key: E1jvd1TbqSHL

ssp_theme_install: True

# False by default until install is done
ssp_installed_now: False

# shibboleth sp idle timeout
shib_session_timeout: 0

# ssp theme
ssp_theme_name: "default"
ssp_theme_repo: ""
ssp_theme_version: ""
ssp_theme_dir: ""
