---
- name: Install zfs-release
  yum:
    name: '{{ zfs_release_rpm }}'
    state: present
  register: zfs_repo
  notify:
    - Remove existing zfs packages

- name: Flush ZFS Handlers
  meta: flush_handlers

- name: Clean yum if zfs repo pkg installed
  command: yum clean all
  when: zfs_repo.changed

- name: Install zfs kernel module
  yum:
    name: zfs
    state: present
    update_cache: yes
  notify:
    - Modprobe zfs

- name: Ensure the ZFS kernel module is loaded
  modprobe:
    name: zfs

- name: Flush ZFS Handlers
  meta: flush_handlers

- name: Create tank zpool
  notify:
   - Start zfs
  command: /sbin/zpool create -f tank mirror '{{ zfs_disk_1 }}' '{{ zfs_disk_2 }}'
  args:
    creates: /tank
  when: zfs_disk_1 != "" and zfs_disk_2 != ""

- name: Create ZFS home container
  command: /sbin/zfs create tank/home
  args:
    creates: /tank/home
  when: zfs_disk_1 != "" and zfs_disk_2 != ""
